body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.carousel-container {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 auto;
    width: 110%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* margin-right: 20px; */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

img{
    height: 400px;
    width: 40%;
    display: block;
    margin: 0 auto;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}
